body {
        padding-top: 20px;
        padding-bottom: 40px;
      }
body { 
    background: url(/static/img/restaurant_icons.png) repeat 0 0;
}
      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 1100px;
        /*background: url(/static/img/back_pattern.png) repeat 0 0;*/
      }
      .container-narrow > hr {
        margin: 30px 0;
      }


h1 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 65px;
}
h2 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 45px;
}
h3,h4,h5,h6 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 35px;
}
 
p,div,label {
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 16px;
    line-height: 25px;
}
h1 { 
    text-shadow: 1px 1px 1px #ccc;
}
.div-that-you want-to-stand-out { 
    box-shadow: 0 0 1em 1em #ccc;
}
.littlebutton {
    width:40px;
    height:15px;
    font-size: 10px;
    line-height: 10px;
}