Django==1.8
dj-database-url==0.3.0
dj-static==0.0.6
django-extensions==1.5.2
django-toolbelt==0.0.1
gunicorn==19.3.0
oauthlib==0.7.2
psycopg2==2.6
requests==2.6.0
requests-oauthlib==0.4.2
six==1.9.0
static3==0.5.1
tweepy==3.3.0
wsgiref==0.1.2
xlrd==0.9.3
