{% load staticfiles %}
<html>
	<head>
 <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script> 
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script> 


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

	<title>Tiny editable jQuery Bootstrap spreadsheet from MindMup</title>
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="opensource jquery bootstrap editable table spreadsheet" />
    <meta name="description" content="This tiny jQuery bootstrap plugin turns any table into an editable spreadsheet" />
    <link rel="apple-touch-icon" href="https://d1g6a398qq2djm.cloudfront.net/img/apple-touch-icon.png" />
    <link rel="shortcut icon" href="https://d1g6a398qq2djm.cloudfront.net/img/favicon.ico" />
    <link href="{% static 'editable-table-master/external/google-code-prettify/prettify.css' %}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'editable-table-master/external/google-code-prettify/prettify.js'%}"></script>
		<link href="index.css" rel="stylesheet">
	<script src="{% static 'editable-table-master/mindmup-editabletable.js' %}" ></script>
	<script src="{% static 'editable-table-master/numeric-input-example.js' %}" ></script>
  </head>
  <body>
<div class="container">
  <div class="hero-unit">
	<h1>editableTableWidget<br/> <small>tiny editable jQuery Bootstrap spreadsheet</small></h1>
	<hr/>
		<div class="alert alert-error hide">
			That would cost too much
		</div>
          <table id="mainTable" class="table table-striped">
            <thead><tr><th>Name</th><th>Cost</th><th>Profit</th><th>Fun</th></tr></thead>
            <tbody>
              <tr><td>Car</td><td>100</td><td>200</td><td>0</td></tr>
              <tr><td>Bike</td><td>330</td><td>240</td><td>1</td></tr>
              <tr><td>Plane</td><td>430</td><td>540</td><td>3</td></tr>
              <tr><td>Yacht</td><td>100</td><td>200</td><td>0</td></tr>
              <tr><td>Segway</td><td>330</td><td>240</td><td>1</td></tr>
            </tbody>
			<tfoot><tr><th><strong>TOTAL</strong></th><th></th><th></th><th></th></tr></thead>
          </table>
          <h2><small>just start typing to edit, or move around with arrow keys or mouse clicks!</small></h2>


		</div>
	</div>

</div>

<script>
  $('#mainTable').editableTableWidget().numericInputExample();
  $('#textAreaEditor').editableTableWidget({editor: $('<textarea>')});
  window.prettyPrint && prettyPrint();
</script>

</html>